# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# env & secrets
.env
.env.*
!.env.example
*.pem

# prisma
prisma/*.db

# testing
coverage/
playwright-report/
test-results/
.playwright/
blob-report/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.local
